@use '../../styles/variables';

.tabs {

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.375rem;
    align-items: center;

    &__button {
      width: 83%;
      background: none;
      border: none;
      font-size: 1rem;
      color: variables.$color-gray;
      padding: 1.25rem;
      cursor: pointer;
      border-top: solid 1px lightgray;
      position: relative;
      text-align: center;

      &:hover {
        color: variables.$color-red;
      }
      


      &.active {
        color: variables.$color-dark-blue;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 0.25rem;
        width: 40%;
        background-color: variables.$color-red;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &.active::after {
        opacity: 1;
      }

      &:last-child {
        border-bottom: solid 1px lightgray;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      position: relative;
      display: flex;
      justify-content: center;
      padding-bottom: 2.188rem;
      img {
        width: 83%;
      }

      &__bgObject {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 85%;
        z-index: -1;
        background-color: variables.$color-blue;
        border-top-right-radius: calc(infinity * 1px);
        border-bottom-right-radius: calc(infinity * 1px);
      }
    }

    &__text{
      text-align: center;
      width: 83%;

      h3{
        margin-top: 3rem !important;
      }

      &__btn{
        display: none;
      }
    }


  }

}

@media screen and (min-width: variables.$breakpoint-desktop) {

  .tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__nav{
      flex-direction: row;
      width: 60%;

      &__button{
        border: none;
        border-bottom: solid 1px lightgray;

        &::after{
          width:100%
        }

      }

    }

    &__content{
      flex-direction: row;
      width: 100%;
      gap: 7.813rem;

      &__image{
        flex: 1;
        width: fit-content;
        justify-content: end;
      }

      &__text{
        flex: 1;
        text-align: left;
        width: 100%;
        
        p{
          width: 23rem;
        }

        &__btn{
          width:8rem;
          display: block;
        }
      }



    }
  }
}